.leaflet-buttons-control-button:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}
.leaflet-buttons-control-button.active {
    background-color: #f4f4f4;
}

.leaflet-buttons-control-button.active > .control-icon {
    opacity: .5;
}

.leaflet-buttons-control-text-hide {
    display: none;
}
